node_modules
*.tsbuildinfo

!.env
.env
.env.local
.DS_Store
.cache
.vercel
.output
.nitro
.tanstack

/build/
/api/
/server/build
/public/build
/dist/
/dist-ssr/
apps/web/dist
apps/marketing/dist
apps/desktop/dist
apps/desktop/src-tauri/target

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

app.config.timestamp_*.js
